.container {
  /* display: flex; */
  /* align-items: center; */
  height: 85vh;
  /* width: 55vw; */
  width: 100%;
  /* width: 200%; */
  /* margin: 0 auto; */
  font-size: 20px;
  /* color: #010101; */
  /* max-width: 800px; */

  /* background-image: url('../images/phonebook.png'); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */

  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;

  /* margin-top: -3px; */
}

.containerPhonebookStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 4px 6px;
  width: 100%;  
}

.containerContacts {
  /* width: 55vw; */
  /* height: 80vh;
  box-shadow: 0 1px 5px #000575;
  background-color: beige; */

  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* padding-top: 7vh; */
  height: 85vh;
  background-color: beige;
  box-shadow: 0 1px 5px #000575;
  margin-top: -3px;  

  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}


.sectionContacts {
  width: 40vw;
}

section h1,
section h2 {
  text-align: center;
}

.notepadSpring {
  margin: auto;
}

.phonebookCover {
  box-shadow: 0 1px 5px #000575;
  margin-top: -2px;

  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;

  line-height: 0;

  /* position: relative; */
}