.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  box-shadow: 0 5px 5px #000575;
  background-color: transparent;
  font-size: 1.1rem;
  width: 55vw;
  width: content;
  position: absolute;
  max-width: 700px;
  height: 5vh;  
  z-index: 1;
}

.home {
  margin-bottom: -7vh;
}