/* .filterName {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto 1rem;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.filterLabel {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
} */

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.filterName {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  /* width: 30vw;   */
  /* width: 100%; */
  font-size: large;
}

.filterName:hover,
.filterName:active,
.filterName:focus {
  box-shadow: 0 0 6px blue;
}

.filterLabel {
  /* width: 100%; */
  text-align: center;
  font-size: 1.2rem;
  font-weight:bold;
}