.contactDeleteBtn {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px 0 10px 20px;
  padding: 5px 10px;
  /* color: black; */  
  color: white;
  background-color: #000575;
  transition: color 350ms, background-color 350ms;
  cursor: pointer;
}

.contactDeleteBtn:hover {
  background-color: blue;
  color: red;
  cursor: pointer;
}

li {
  /* display: flex; */
  /* align-items: center;
  justify-content: space-between; */
  width: 100%;
  display: list-item;
  list-style-type: "🤯";
  padding-inline-start: 1ch;
}

.contactBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ul {
  display: flex;
} */
/* li::marker {

} */